---
layout: default
title: Positions
permalink: /open-positions/
---



<!-- Pipelines -->

<div class="container">
  <div class="tag__head">
    <h1 class="tag__title">Positions</h1>
  </div>
  
    <div class="section__inner">
      <div class="row">
        {% for post in site.positions %}
              {% include job-post.html %}
        {% endfor %}
      </div>
    </div>
</div>

<div class="container">
  <div class="tag__head">
    <h2 class="tag__title__small">Mehta Lab</h2>
  </div>
  <p align="center">
    <img src="/images/open_positions/3_group_photo.jpg"/>
  </p>
    <p>The ...
      </p>
</div>

<div class="container">
  <div class="tag__head">
    <h2 class="tag__title__small">Why Brisbane?</h2>
  </div>
  <p align="center">
    <img src="/images/open_positions/"/>
  </p>
    <p>Brisbane is a vibrant city with a thriving biotech scene, making it an ideal location for research and innovation. The city offers a high quality of life, with a warm climate, beautiful beaches, and a diverse cultural scene. Additionally, Brisbane is home to several world-class universities and research institutions, providing ample opportunities for collaboration and networking in the scientific community.
      </p>
</div>
